.menu {
  display: flex;
  flex-direction: column;
  height: 100%;

  .languages {
    margin-top: 1.5rem;
    margin-bottom: 3.6rem;
  }

  .big-buttons {
    justify-content: flex-end;

    margin-bottom: 3.2rem;

    .search-field {
      flex-grow: 1;

      width: auto;

      &__element {
        display: block;

        @include breakpoint(laptop) {
          padding: 1.55rem 5rem;
        }
      }

      &__button--close {
        display: none;
      }
    }
  }

  .main-menu {
    align-items: stretch;
    flex-direction: column;
    gap: 0;

    margin-bottom: 2rem;

    &__link {
      display: block;
      padding: 2rem 0;

      border-bottom: 0.2rem solid rgba($grayscale-100, 0.2);
    }
  }

  .secondary-menu {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .change-version {
    margin-top: auto;

    svg {
      stroke: $grayscale-100;
    }
  }

  .footer__menu{
    @include breakpoint(desktop) {
      grid-template-columns: 1fr;
      margin-bottom: 2rem;
    }
  }

  .footer__menu>:nth-child(4n+4) {
    margin-right: 0;
  }

  .footer__menu>* {
    grid-column: span 1;
  }

  .footer__menu .js-accordion {
    padding-bottom: 2rem;
  }

  .footer__menu-heading{
    font-weight: 400;
  }

  .footer__submenu{
    background-color: $primary-900;
    border-radius: 2.4rem;
    padding: 2.4rem;
    margin-top: 2rem;
  }

  .footer__menu .footer__submenu>:first-of-type {
    padding-top: 0;
  }

  
  .js-accordion {
    .footer__submenu{
      height: auto;
      overflow: visible;
    }

    .footer__submenu-box {
      height: 0;
      overflow: hidden;
    }
  }
}