.pagination{

    &__list{
        display: flex;
        align-items: center;
        column-gap: 0.4rem;

        @include breakpoint(small-mobile) {
            justify-content: space-between;
        }

        li{
            @include breakpoint(mobile) {
                &:nth-child(3){
                    display: none;
                }
            }
        }
    }

    &__list-link{
        display: flex;
        justify-content: center;
        align-items: center;
        @extend %fs-button-1;
        border-radius: 999px;
        width: 6.4rem;
        height: 4rem;
        @extend %interactive-svg-stroke-button;
        
        &:link,
        &:visited{
            color: $primary-900;
        }

        &:hover{
            color: $grayscale-100;
        }

        &--active{
            background-color: $grayscale-100;
        }

        @include breakpoint(small-mobile) {
            width: 5rem;
            height: 3.2rem;
        }
    }

    &__list-points{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 6.4rem;
        height: 4rem;

        @include breakpoint(small-mobile) {
            width: 5rem;
            height: 3.2rem;
        }
    }
}