.slider-pagination-btns {
  background-color: $grayscale-300;
  border-radius: 99.9rem;
  width: 13rem;
  height: 4.2rem;
  grid-column: span 2;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all $te $tt;

  @include breakpoint(tablet) {
    width: 11rem;
    height: 3.2rem;
  }

  &.hide{
    display: none;
  }

  button {
    height: 4.2rem;
    width: 50%;
    display: flex;
    align-items: center;
    padding: 0 1.75rem;
    
    &:first-child{
      justify-content: flex-start;
    }

    &:last-child{
      justify-content: flex-end;
    }

    svg{
      stroke: $grayscale-900;
    }
    
    &:hover{
      background-color: $grayscale-500;
      svg{
        stroke: $primary-500;
      }
    }

    &:focus {
      background-color: $grayscale-500;
      svg{
        stroke: $grayscale-900;
      }
    }

    @include breakpoint(tablet) {
      &:hover{
        background-color: $grayscale-300;
        svg{
          stroke: $grayscale-900;
        }
      }

      &:focus {
        background-color: $grayscale-300;
        svg{
          stroke: $grayscale-900;
        }
      }
    }

    &.next {
      svg {
        transform: rotate(180deg);
      }
    }

    &.swiper-button-disabled{
      svg{
        stroke: $grayscale-600;
      }

      &:hover{
        background-color: $grayscale-300;
      }

      &:focus {
        background-color: $grayscale-300;
      }
    }
  }

  &--bg-white{
    background-color: $grayscale-100;

    &:hover{
      background-color: $grayscale-200;
    }

    &:focus {
      background-color: $grayscale-200;
    }
  }

}
