.tabs-buttons{
    display: flex;
    align-items: center;
    background-color: $grayscale-300;
    width: max-content;
    @extend %fs-button-1;
    font-weight: 400;
    padding: 0.4rem;
    border-radius: 999px;
    text-transform: uppercase;

    @include breakpoint(mobile){
        flex-direction: column;
        padding: 0.4rem;
        border-radius: 2.4rem;

        li{
        width: 100%;
        }
    }
    
    &__tab{
        padding: 1.6rem 2.4rem;
        border-radius: 999px;
        display: flex;
        justify-content: center;

        &:hover{
            color: $primary-400;
        }
    
        &.active{
          background-color: $grayscale-100;
          font-weight: 700;
        }
    
        @include breakpoint(mobile){
          width: 100%;
        }
    }
}