.content-data{
    display: flex;
    gap: 4rem 2rem;

    @include breakpoint(small-tablet) {
        flex-direction: column;
    }

    &__items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 4rem 2rem;
        width: 100%;
        max-width: 79rem;

        @include breakpoint(tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem 1.6rem;
        }
    }

    &__title{
        @extend %fs-roboto-s;
        margin-bottom: 0.4rem;
    }

    &__label{
        color: $grayscale-600;
    }

    &__box{
        width: 38.5rem;
    }

    .user-card{
        width: 100%;
    }

    .user-card__info-title{
        @extend %fs-roboto-s;
    }

}