.documents{

  &__link{
    margin-top: 4rem;
    display: inline-block;

    &.round-buttons::after {
      background-image: url("../img/arrow-down-white.svg");
    }

    @include breakpoint(small-tablet) {
      margin-top: 2rem;
    }

    .active-label{
      display: none;
    }

    &.active{
        .default-label{
            display: none;
        }

        .active-label{
            display: block;
        }
    }
  }
}