.feedback-call{

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus,
    input:-internal-autofill-selected {
        transition: background-color 5000000000s ease-in-out 0s;
        background-color: rgba(0, 0, 0, 0) !important;
        -webkit-text-fill-color: $grayscale-100;
        -webkit-box-shadow: none !important;
    }

    &__title{
        @media only screen and (max-width: (430px)) {
            font-size: 2.6rem;
        }

        @media only screen and (max-width: (400px)) {
            font-size: 2.3rem;
        }
    }

    .form--dark{
        max-width: 100%;

        @include breakpoint(laptop) {
            max-width: 50rem;
        }
    }

    .form__desc{
        max-width: 50rem;
    }

    .form__inputs{
        max-width: 79rem;
    }

    .input{
        width: 100%;
    }

    .form-block__form-inputs{
        flex-direction: row;
  
        @include breakpoint(tablet) {
          flex-direction: column;
        }
      }
  
      .form-block{
        max-width: 79rem;
        color: $grayscale-100;
  
        .input__element{
          color: $grayscale-100;
          border-bottom: 0.1rem solid $grayscale-100;
  
          &:placeholder-shown ~ .input__placeholder{
            color: $grayscale-100;
          }
  
          &:focus{
            border-color: $grayscale-100;
            & ~ .input__placeholder {
              color: $grayscale-600;
            }
          }
        }
  
        .input__placeholder{
          color: $grayscale-100;
        }
  
        .form-block__form-footer{
  
          .button{
            background-color: $grayscale-100;
            color: $primary-700;
            
            transition: background-color $tt $te, border-color $tt $te, color $tt $te;
  
            &:focus {
              background-color: $grayscale-500;
              color: $primary-900;
            }
  
            &:hover {
              background-color: $grayscale-400;
              color: $primary-500;
            }
          }
        }
  
        .policy{
          max-width: 28rem;
          
          a{
  
            &:link,
            &:visited{
              color: $grayscale-200;
            }
          }
        }
  
        .input.error{
          .input__element{
            border-color: $yellow;
          }
          .input__validation-message{
            color: $yellow;
          }
          .input__placeholder{
            color: $yellow !important;
          }
        }
    }
}