.tables{

    &__title{
        margin-bottom: 6.4rem;

        @include breakpoint(tablet) {
            margin-bottom: 4rem;
        }
    }

    &__box{
        border-collapse: collapse;
        overflow-x: auto;
        display: block;
        width: 100%;

        @include breakpoint(small-tablet) {
            overflow: visible;
        }
    }

    tbody{
        display: block;
        width: 100%;
    }

    td, th {
        vertical-align: middle;
        border-right: 1rem solid transparent;
        border-left: 1rem solid transparent;
        min-width: 21rem;
        word-break: break-all;
        text-align: center;

        @include breakpoint(small-tablet){
            border-right: 0rem solid transparent;
            border-left: 0rem solid transparent;
            min-width: auto;
            text-align: left;
        }

        &.tables__box-row-date{
            max-width: 11.5rem;
            border-left: 0rem solid transparent;
            min-width: 11.5rem;
            text-align: start;

            @include breakpoint(small-tablet){
                min-width: auto;
            }
        }

        &.tables__box-row-title{
            width: 100%;
            @extend %fs-body-l;
            color: $grayscale-900;
            min-width: 40rem;
            text-align: start;
    
            @include breakpoint(small-tablet) {
                margin-bottom: 1.6rem;
                min-width: auto;
            }
        }
    }

    &__box-row{
        border-bottom: 1px solid $grayscale-500;
        padding: 4rem 0;
        @extend %fs-body-m;
        color: $grayscale-600;
        display: inline-block;

            &:first-child{
                padding-top: 0;
            }

            @include breakpoint(small-tablet){
                display: flex;
                flex-direction: column;
                row-gap: 0.4rem;
                padding: 2rem 0;
            }
    }

    &__links{
        margin-top: 6.4rem;
        display: flex;
        gap: 1rem 1.2rem;

        @include breakpoint(small-mobile) {
            margin-top: 4rem;
            flex-direction: column;
        }
    }
}