{{#extend "section"}}
    {{#content "content"}}

    <div class="content-data">
        <ul class="content-data__items">
            <li class="content-data__item">
                <div class="content-data__title">
                    Аналитика данных
                </div>
                <div class="content-data__label">
                    Вид задачи
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    StarLine
                </div>
                <div class="content-data__label">
                    Клиент
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    StarLine
                </div>
                <div class="content-data__label">
                    Клиент
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    StarLine
                </div>
                <div class="content-data__label">
                    Клиент
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    2010 — 2020
                </div>
                <div class="content-data__label">
                    Период реализации
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    Аналитика данных
                </div>
                <div class="content-data__label">
                    Индустрия
                </div>
            </li>
            <li class="content-data__item">
                <div class="content-data__title">
                    Аналитика данных
                </div>
                <div class="content-data__label">
                    Индустрия
                </div>
            </li>
        </ul>
        <div class="content-data__box">
            {{> components/user-card withoutBorder=true}}
        </div>
    </div>

    {{/content}}
{{/extend}}