{{#extend "section"}}
    {{#content "content"}}

    <ul class="content-data">
        <div class="content-data__items">
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Вид задачи
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    StarLine
                </p>
                <span>
                    Клиент
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    2010 — 2020
                </p>
                <span>
                    Период реализации
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </li>
            <li class="content-data__item">
                <p>
                    Аналитика данных
                </p>
                <span>
                    Индустрия
                </span>
            </li>
        </div>
        <div class="content-data__box">
            {{> components/user-card withoutBorder=true}}
        </div>
    </ul>

    {{/content}}
{{/extend}}