{{#extend "section"}}
    {{#content "content"}}

      <div class="documents js-show-hide" data-count="5">
        <h2 class="documents title-h2">
          {{data.titleMain}}
        </h2>
        {{> components/document-list}}
        {{#if data.btn}}
        <button class="documents__link round-buttons round-buttons--dark js-show-hide-button" type="button">
          <span class="default-label">Загрузить еще</span>
          <span class="active-label">Скрыть</span>
        </button>
        {{/if}}
      </div>

    {{/content}}
{{/extend}}