{{#extend "section"}}
    {{#content "content"}}

    <div class="focus-block">
        <div class="focus-block__wrapper">
            <span class="focus-block__span desc">
                Фокусировка факультета — информационная кибербезопасность и информационно-функциональная безопасность (ИФБ)
            </span>
            <h2 class="focus-block__title">
                Большой вызов
            </h2>
            <div class="focus-block__desc">
                <p>
                    Снижение уровня безопасности современных информационных и киберфизических систем в условиях растущего числа мобильных устройств, «умных» вещей, обменивающихся колоссальными объемаи информации без должного контроля со стороны человека.
                </p>
            </div>
        </div>
    </div>

    {{/content}}
{{/extend}}