{{#extend "section"}}
    {{#content "content"}}

    <div class="numbers-main {{data.mods}}">
      {{#if data.mainTitle}}
      <h2 class="numbers-main__title title-h2">
        {{data.mainTitle}}
      </h2>
      {{/if}}
      <div class="numbers-main__wrapper">
        <div class="numbers-main__info">
          <div class="numbers-main__info-desc desc">
            <p>
              {{data.desc}}
            </p>
          </div>
          {{#if data.infoText}}
          <div class="numbers-main__info-text">
            <span>
              Центр создан в 2017 году на базе 4-х кафедр университета
            </span>
          </div>
          {{/if}}
          {{#if data.imgAndBtns}}
          <div class="numbers-main__info-box">
            <img class="numbers-main__info-box-img lazyload" data-src="img/content/numbers-main/1.jpg" alt="">
            <a class="numbers-main__info-box-link" href="#">
              <svg width="16" height="17">
                  <use xlink:href="#arrow-link-45-blue" />
              </svg>
              Подробнее о центре
            </a>
          </div>
          <a class="numbers-main__info-link round-buttons" href="#">
            Презентация о нас
          </a>
          {{/if}}
        </div>
        <ul class="numbers-main__items">
          {{#each data.numbers}}
              <li>
                {{> components/numbers  mod="numbers--big"}}
              </li>
          {{/each}}
        </ul>
      </div>
    </div>


    {{/content}}
{{/extend}}