{{#extend "section"}}
    {{#content "content"}}

        <div class="project-gallery">
            <h2 class="project-gallery__title title-h2">
                Отчет проекта
            </h2>
            <div class="project-gallery__slider">
                <div class="project-gallery__swiper swiper loading">
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide">
                            <div class="project-gallery__swiper-item">
                                <img class="project-gallery__swiper-img lazyload" data-src="img/content/content-slider/1.jpg" alt="За компьютером">
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="project-gallery__swiper-item">
                                <img class="project-gallery__swiper-img lazyload" data-src="img/content/content-slider/2.jpg" alt="За компьютером">
                            </div>
                        </li>
                        <li class="swiper-slide">
                            <div class="project-gallery__swiper-item">
                                <img class="project-gallery__swiper-img lazyload" data-src="img/content/content-slider/1.jpg" alt="За компьютером">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="project-gallery__navigation slider-pagination-btns slider-pagination-btns--bg-white">
                    <button class="slider-pagination-btns__button prev" type="button" title="Prev">
                        <svg width="8" height="16">
                            <use xlink:href="#arrow-slide" />
                        </svg>
                    </button>
                    <button class="slider-pagination-btns__button next" type="button" title="Next">
                        <svg width="8" height="16">
                            <use xlink:href="#arrow-slide" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}