<div class="form-block js-form">
    {{#if header}}
    <div class="form-block__heading-block">
        <h2 class="form-block__heading">Остались вопросы?</h2>
        <span class="form-block__heading-label">Задайте их напрямую!</span>
    </div>
    {{/if}}
    {{#if desc}}
    <div class="form-block__desc">
        <p>
            Оставьте контактные данные и мы свяжемся с вами чтобы обсудить наше сотрудничество
        </p>
    </div>
    {{/if}}
    <form class="form-block__form" action="/">
        <fieldset class="form-block__form-inputs">
            {{>components/input data=inputs.name}}
            {{#if email}}
                {{>components/input data=inputs.email}}
            {{/if}}
            {{#if phone}}
            {{>components/input data=inputs.phone}}
            {{/if}}
            {{#if message}}
                {{>components/input data=inputs.message}}
            {{/if}}
        </fieldset>

        <div class="form-block__form-footer">
            <button class="button  js-form-submit" type="submit">{{btnText}}</button>
            {{>components/policy}}
        </div>
    </form>
</div>