{{#extend "layout"}}
{{#content "main"}}

    {{!-- <section class="section section--about-the-center">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading">
                    <h2></h2>
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs__list">
                            <li>
                                <a class="breadcrumbs__link" href="#">
                                    Главная
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section__content">
                    <div class="about-the-center">
                        <h1 class="about-the-center about-the-center__title">
                            О центре
                        </h1>
                        <div class="about-the-center__desc">
                            Сегодня факультет БИТ – это факультет с устоявшимися академическими традициями, ориентированный на новейшие и передовые исследования и технологии, как в науке, так и в образовании.
                        </div>
                        <div class="about-the-center__footer">
                            <img class="about-the-center__footer-decoration" src="img/content/decorations/intro-main-footer.svg" width="728" height="299" alt="Intro Main Footer Decoration">
                            <div class="about-the-center__info">
                                <div class="about-the-center__img-box">
                                    <img class="about-the-center__img" src="img/content/about-the-center/1.jpg" alt="">
                                </div>
                                <div class="about-the-center__content">
                                    <span class="about-the-center__content-text">
                                        Презентация факультета БИТ
                                    </span>
                                    <a class="about-the-center__content-link" href="#">
                                        Посмотреть
                                        <svg width="16" height="16">
                                            <use xlink:href="#download-black-135" />
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> --}}
    {{> sections/intro-main data=sections/introMain2}}
    {{> sections/cards-articls data=sections.cardsArticle2}}
    {{> sections/cards-simple data=sections.cardsSimple2}}
    {{> sections/partners data=sections.partners3Transparent}}
    {{> sections/feedback-call data=sections.feedbackCall}}

{{/content}}
{{/extend}}