{{#extend "layout"}}
{{#content "main"}}

    {{> sections/intro-main data=sections/introMain2}}
    {{> sections/numbers-main data=sections.numbersMain3}}
    {{> sections/focus-block data=focusBlock}}

    <section class="section section--platform">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading">
                </div>
                <div class="section__content">
                    <div class="platform">
                        <div class="platform__wrapper">
                            <h2 class="platform__title">
                                М-Платформа
                            </h2>
                            <div class="platform__desc">
                                <p>
                                    ИФБ - среда (методология, средства и способы) подготовки исследовательских кадров высокой квалификации и проведения научной и проектной деятельности по обеспечению ИФБ и обоснованного доверия к инновационным продуктам и сервисам.
                                </p>
                            </div>
                            <ul class="platform__list">
                                <li>
                                    Secure by design
                                </li>
                                <li>
                                    Разработка сервисов
                                </li>
                                <li>
                                    Сертификация и сопровождение
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--peculiarities section--bg-transparent section--adaptive-without-padding">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading section__heading--dot">
                    <h2>Наши особенности</h2>
                </div>
                <div class="section__content">
                  <div class="peculiarities">
                    <div class="peculiarities__wrapper">
                        <div class="peculiarities__item">
                            <div class="peculiarities__item-img-box">
                                <img class="peculiarities__item-img" src="img/content/peculiarities/1.jpg" alt="ITMO встреча">
                            </div>
                            <div class="peculiarities__item-info">
                                <span class="peculiarities__item-info-title">
                                    Устойчивость к высоким повторяемым результатам
                                </span>
                                <div class="peculiarities__item-info-text">
                                    <p>
                                        Текст — зафиксированная на каком-либо материальном носителе человеческая мысль; в общем плане связная и полная последовательность символов.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="peculiarities__item">
                            <div class="peculiarities__item-img-box">
                                <img class="peculiarities__item-img" src="img/content/peculiarities/2.jpg" alt="ITMO встреча">
                            </div>
                            <div class="peculiarities__item-info">
                                <span class="peculiarities__item-info-title">
                                    стремление выйти за пределы университета
                                </span>
                                <div class="peculiarities__item-info-text">
                                    <p>
                                        Текст — зафиксированная на каком-либо материальном носителе человеческая мысль;
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="peculiarities__item">
                            <div class="peculiarities__item-img-box">
                                <img class="peculiarities__item-img" src="img/content/peculiarities/3.jpg" alt="ITMO встреча">
                            </div>
                            <div class="peculiarities__item-info">
                                <span class="peculiarities__item-info-title">
                                    Риски и решения
                                </span>
                                <div class="peculiarities__item-info-text">
                                    <p>
                                        С одной стороны, конкуренция с бизнесом за кадровый потенциал. С другой - индустрия воспринимает ИБ, как аналог, а не как жизненную необходимость. Ситуацию необходимо менять с помощью рассудительно-доказательной базы
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </section>



    <section class="section section--victories">
        <div class="container">
            <div class="section__inner">
                <div class="section__heading section__heading--dot">
                    <h2>Команда чемпионов</h2>
                </div>
                <div class="section__content">
                    <div class="victories">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> sections/cards-articls data=sections.cardsArticle2}}
    {{> sections/cards-simple data=sections.cardsSimple2}}
    {{> sections/partners data=sections.partners3Transparent}}
    {{> sections/feedback-call data=sections.feedbackCall}}

{{/content}}
{{/extend}}