{{#extend "layout"}}
{{#content "main"}}

{{> sections/filter data=sections.filter4}}

<section class="section section--list-elemets section--bg-transparent section--adaptive-without-padding">
    <div class="container">
        <div class="section__inner">
            <div class="section__heading">
                <h2></h2>
            </div>
            <div class="section__content">
                <div class="list-elemets">
                    <div class="list-elemets__wrapper">
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ordinary-slider__slide">
                            <div class="ordinary-slider__slide-box">
                                <img class="ordinary-slider__slide-box-img" src="img/content/cards-main/1.jpg" alt="Лаборатория">
                                <ul class="ordinary-slider__slide-box-list">
                                    <li>
                                        Разработка под заказчика
                                    </li>
                                </ul>
                            </div>
                            <div class="ordinary-slider__slide-wrapper">
                                <div class="ordinary-slider__slide-logo">
                                    <img class="ordinary-slider__slide-logo-img" src="img/content/cards-main/logo-company.png" alt="Сбер">
                                </div>
                                <div class="ordinary-slider__slide-content">
                                    <ul class="ordinary-slider__slide-content-header">
                                        <li class="ordinary-slider__slide-content-header-item">
                                            Разработка
                                        </li>
                                        <li class="ordinary-slider__slide-content-header-item">
                                            2021
                                        </li>
                                    </ul>
                                    <a class="ordinary-slider__slide-content-title" href="#">
                                        Разработка личного кабинета для Сбербанка
                                    </a>
                                    {{> components/user-card}}
                                    <div class="ordinary-slider__slide-info">
                                        <div class="ordinary-slider__slide-info-benefit">
                                            Будет полезен:
                                        </div>
                                        <ul class="ordinary-slider__slide-info-list">
                                            <li>
                                                Бакалаврам
                                            </li>
                                            <li>
                                                Магистрам
                                            </li>
                                        </ul>
                                        <div class="ordinary-slider__slide-info-text">
                                            Студенты курса проходят стажировки в компании и к концу обучения готовы
                                            стать ее полноценными сотрудниками.
                                        </div>
                                        <a class="ordinary-slider__slide-info-link button" href="#">
                                            Уведомить о запуске курса
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="list-elemets__btn" href="#">
                        Показать еще
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{{> sections/feedback-subscription data=sections.feedbackSubcription}}


{{/content}}
{{/extend}}