:root {
  --max-container-width: 160rem;
  --content-padding: 4rem;

  --fs-html: 0.595238095vw;

  @media screen and (max-width: 1200px) {
    --content-padding: 2rem;
    --fs-html: 10px;
  }

  @media screen and (min-width: 1681px) {
    --fs-html: 10px;
  }

  @media screen and (max-width: 389px) {
    --fs-html: 9px;
  }


  // colors
  --color-purple-900: #272862;
  --color-purple-700: #37387B;
  --color-blue-700: #55B2E5;
  --color-grey-900: #21222E;
  --color-grey-500: #A4A5BB;
  --color-grey-300: #EFF1F4;
  --color-grey-100: #FFFFFF;
  --color-white: var(--color-grey-100);
  --color-bg: var(--color-grey-300);

  // Typography
  --main-ff: "Inter", sans-serif;
  --second-ff: "Roboto", sans-serif;

  // body
  --font-body-L: 400 1.8rem/120% var(--main-ff);
  --font-body-M: 400 1.4rem/120% var(--main-ff);
  --font-body-S: 400 1.2rem/110% var(--main-ff);

  // title
  --font-hero: 700 22rem/1 var(--main-ff);
  --font-title-1: 700 9.6rem/1 var(--main-ff);
  --font-title-2: 700 6rem/1 var(--main-ff);
  --font-title-3: 700 3.6rem/110% var(--main-ff);

  // button
  --font-btn: 700 1.4rem/1.6rem var(--main-ff);

  // parts
  --font-roboto: 400 2.8rem/1 var(--second-ff);
  --font-roboto-M: 400 2rem/1 var(--second-ff);
  --font-roboto-S: 400 1.6rem/1 var(--second-ff);

  // offset
  --grid-offset: 0;

  // transition
  --transition: 200ms;

  // etc
  --header-height: 8.2rem;








}

// fonts
$fs-body: 1.6rem;
$lh: 1.2;
$font: 'Inter', sans-serif;

// animation
$tt: 0.3s; // transition time
$te: ease; // transition easing

// colors
$red: #ED1919;
$yellow: #F7ED92;
$primary-brand: #EC0B43;
$primary-900: #272862;
$primary-700: #37387B;
$primary-500: #4F51AE;
$primary-400: #6062CA;
$secondary: #55B2E5;
$grayscale-900: #21222E;
$grayscale-600: #A4A5BB;
$grayscale-500: #E1E3EA;
$grayscale-400: #E5E8EE;

// $grayscale-300: #cbdcf7;
$grayscale-300: #EFF1F4;

// $grayscale-200: #94d3f3;
$grayscale-200: #F5F7F8;

$grayscale-100: #FFFFFF;